{% extends 'base.html.twig' %}

{% block body %}
<h1>Inscription sur le site</h1>

{{ form_start(form)}}
{{ form_row(form.username, {'label':'Nom d\'utilisateur','attr':{'placeholder':'Nom d\'utilisateur'}}) }}
{{ form_row(form.email, {'label':'Votre email','attr':{'placeholder':'nom@example.com'}}) }}
{{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder':'choisissez un mot de passe '}}) }}

<button type="submit" class="btn btn-success">Inscription</button>

{{ form_end(form)}}
{% endblock %}