<div *ngIf="movie">
  <h2>{{movie.title | uppercase}} Details</h2>
  <div><span>id:</span> {{movie.id}}</div>
  <div>
    <label>
      title:
      <input [(ngModel)]="movie.title" placeholder="Movie Title">
    </label>
  </div>
  <div><span>year:</span>{{movie.year}}</div>
</div>