{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenu sur mon tout nouveau blog !</h1>

    <p>Je met ici a peut pres tout et n'importe quoi...</p>
                                       
{% endblock %}