<h2>My Movies</h2>
<ul class="movies">
  <li *ngFor="let movie of movies" 
  [class.selected]="movie === selectedMovie"
  (click)="onSelect(movie)">
    <span class="info">{{movie.id}}</span> {{movie.title}}, {{movie.year}}
  </li>
</ul>

<app-movie-detail [movie]="selectedMovie"></app-movie-detail>