<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        {% block style %}
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <title>
            {% block title %}Annonces{% endblock %}
        </title>
    </head>
    <body>
        <div class="header">
            <h1 class="header_main_title"> Le bon coing </h1>

            <div class="auth_menu">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="auth_menu_link" href="{{ path('easyadmin') }}">Administration</a>
                {% endif %}
                <a class="auth_menu_link" href="{{ path('app_logout') }}">Deconnexion</a>
                {% else %}
                <a class="auth_menu_link" href="{{ path('app_login') }}">Connexion</a>
                <a class="auth_menu_link" href="{{ path('app_register') }}">Inscription</a>
        {% endif %}
            </div>
        </div> 
        <div class="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('advert_index') }}">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('advert_add')}}">Poster une annonce</a>
            </li>
        </ul>
        {{ render(controller("App\\Controller\\AdvertController::menu")) }}
        </div>
        <div class="layout_content">
            {% block body %}{% endblock %}
        </div>
        {% block script %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>