/*
Feuille de style de mon beau CV
*/
@font-face {
    font-family: 'action_manregular';
    src: url('../fonts/actionman/Action_Man-webfont.eot');
    src: url('../fonts/actionman/Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/actionman/Action_Man-webfont.woff2') format('woff2'),
         url('../fonts/actionman/Action_Man-webfont.woff') format('woff'),
         url('../fonts/actionman/Action_Man-webfont.ttf') format('truetype'),
         url('../fonts/actionman/Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CAS GENERAL */

.souligne{
    text-decoration: underline;
}

.justify{
    text-align: justify;
}

.right-align{
    text-align: right;
}

.gras{
    font-weight: bold;
}

.barre{
    text-decoration: line-through;
}

p {
    color: #263238;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.image-third-size{
    height: 33%;
    width: 33%;
}


.color-black{
    color: black;
}

/* CAS PARTICULIER */

body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

li {
    color: black;
}
/* Change la couleur des listes ordonnées */
/*la virgule , permet de selectionner plusieurs éléments
et les modifier tous à l'aide d'un seul bloc */
ol li, h3 {
    color: white;
}

h3 {
    font-size: 2em;
    font-family: 'action_manregular';
}

/* le selecteur . symbolise la classe
x.y veut dire x de la classe y*/
div.text {
    color : red;
    font-size: 45px; 
    text-align: center;
}
/* le selecteur + signifie une succession
x + y veut dire 'y suivant x' */
h3 + p{
    background-color: black;
    color : white;
    font-family: 'Courgette', cursive;
    font-size: 1em;
}

mark{
    background-color: blue;
    color: white;
}

main{
    width: 100%;
    height: 500px;
    /* css grid */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /*definition des noms des zones
    chaque groupe de zones represente une ligne
    chaque zone represente une case*/
    /*grid-template-areas: "a b c" "d e f" "g h i";*/
}

section{
    background-color: aqua;
}

/*on selectionne l'element section numéro 1
fils de l'element main*/
main section:nth-child(1){
    grid-column: 2 / span 2;
    grid-row : 1 / span 2;
    background: url("../img/image.jpg") no-repeat center;
    background-size: 100% 100%;
}


main section:nth-child(2){
    /*centrer verticalement dans la zone*/
    align-self: center;
    /*centrer horizontalement dans la zone*/
    justify-self: center;
}

main section:nth-child(3){
    border: blue solid 3px;
}

footer{
    border: blue solid 1px;
}
