<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Galerie{% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ absolute_url(asset('css/main.css')) }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="{{ absolute_url(asset('js/main.js')) }}">  </script>
        {% endblock %}
    </body>
</html>
 